# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# Unignore makefiles
!makefile

# Ignore files with the ".o" extension
*.o

# Ignore files with the ".hdf5" extension
*.hdf5

